// colors strings

// base
$background: #EFEFEF;
$color-accent: #5712A6;

// text

$text-color-white: #fff;
$text-color-gray: #5E5E5E;
$text-color-black: #161616;
$text-color-accent: $color-accent;


